.logo-loop-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin: -10px 0;
  padding: 10px 0;
}

.logo-loop-track {
  display: flex;
  width: fit-content;
  animation: logo-scroll var(--animation-duration, 20s) linear infinite;
  animation-direction: var(--animation-direction, normal);
  gap: var(--gap, 70px);
}

.logo-loop-set {
  display: flex;
  gap: var(--gap, 70px);
  flex-shrink: 0;
}

.logo-loop-item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s ease;
}

.logo-loop-item:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.2);
}

@keyframes logo-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 2));
  }
}

.logo-loop-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.logo-loop-container:hover .logo-loop-track {
  animation-play-state: paused;
}
